.stack-sans-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background:#f8f9fa;
    --color-primary:#212529;
    --color-secondary:#495057;
    --color-tertiary:#adb5bd;
    --font-color-primary: #212529;
    --font-color-secondary:#ced4da;

    --border-radius-sm: 4px;
    --border-radius-lg: 16px;

    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 32px;
    --space-xxl: 64px;

    --font-sm: 1rem;
    --font-md: 1.4rem;
    --font-lg: 1.8rem;
    --font-xl: 2.2rem;
    --font-xxl: 2.6rem;

    --transition-fast: 0.1s ease;
    --transition-slow:0.3s ease;

    font-family: "Stack Sans Text", sans-serif;
}

h1 {
    padding-bottom: var(--space-sm);
    border-bottom: var(--space-xs) solid var(--color-tertiary);
}

h2 {
    padding: var(--space-lg);
    width: 100%;
    border-bottom: var(--space-xs) solid var(--color-tertiary);
    font-weight: 100;
    font-size: var(--font-md);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    height: 100vh;
    min-width: 1280px;
    overflow: hidden;
}

.header {
    margin: var(--space-md) var(--space-lg);
}

.tagline {
    color: var(--color-secondary);
    margin-left: var(--space-lg);
}

/* Tagline layout */
.header-inner {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-lg);
}

/* Define modal form CSS */
.form-inner {
    margin-right: var(--space-lg);
}

.form-inner form {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
}



/* Define dashboard grid spaces */
.dashboard {
    display: grid;
    flex: 1;
    min-height: 0;
    gap: var(--space-xl);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "applicationList applicationList summary"
        "applicationList applicationList companyList"
        "resolvedList inProgressList companyList";
    margin: var(--space-lg) var(--space-lg);
}

.application-list { grid-area: applicationList;}
.summary { grid-area: summary; }
.resolved { grid-area: resolvedList; }
.inProgress { grid-area: inProgressList; }
.companies { grid-area: companyList; }



/* Define card display layout */
.card {
    display: flex;
    flex-direction: column;
    border: var(--space-xs) solid var(--color-tertiary);
}



/* Application list card */
#application-inner {
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    overflow-y: hidden;
    overflow-y: scroll;
    width: 100%;
}

#application-inner li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-sm);
    padding: var(--space-lg) var(--space-lg);
}

.label-container {
    display: flex;
    flex-direction: column;
}

.label-container-inner {
    display: flex;
    flex-direction: row;
}

.status-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    justify-content: center;
}

.company-label {
    font-size: var(--font-xxl);
}

.jobTitle-label {
    color: var(--color-secondary);
}

#application-inner select {
    padding: var(--space-sm);
    max-width: 200px;
}



/* Summary card */
.summary-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-lg);
    font-weight: 100;
    font-size: var(--font-xxl);
    gap: var(--space-md);
}



/* Company list card */
.company-list {
    list-style: none;
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.company-list li {
    border: 1px solid var(--color-secondary);
    padding: var(--space-lg) var(--space-md);
    border-radius: var(--border-radius-sm);
}

/* Status panel cards */
.resolved, .inProgress {
    overflow-y: scroll;
}

.resolved-list, .inProgress-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-lg);
    gap: var(--space-md);
}

.resolved-list li {
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    list-style: none;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-sm);
}

.inProgress-list li {
    display: flex;
    flex-direction: column;
    padding: var(--space-lg);
    list-style: none;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius-sm);
}

.company-panel {
    font-size: var(--font-xxl);
}

/* Hidden classes */
.hidden {
    display: none;
}

