.stack-sans-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background:#f8f9fa;
    --color-primary:#212529;
    --color-secondary:#495057;
    --color-tertiary:#adb5bd;
    --font-color-primary: #212529;
    --font-color-secondary:#ced4da;

    --border-radius-sm: 4px;
    --border-radius-lg: 16px;

    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 32px;
    --space-xxl: 64px;

    --font-sm: 1rem;
    --font-md: 1.2rem;
    --font-lg: 1.4rem;

    --transition-fast: 0.1s ease;
    --transition-slow:0.3s ease;

    font-family: "Stack Sans Text", sans-serif;
}

h1 {
    padding-bottom: var(--space-sm);
    border-bottom: var(--space-xs) solid var(--color-tertiary);
}

h2 {
    padding: var(--space-lg);
    width: 100%;
    border-bottom: var(--space-xs) solid var(--color-tertiary);
    font-weight: 100;
    font-size: var(--font-md);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    height: 100vh;
    min-width: 1280px;
    overflow: hidden;
}

.header {
    margin: var(--space-md) var(--space-lg);
}

.tagline {
    color: var(--color-secondary);
    margin-left: var(--space-lg);
}

/* Tagline layout */
.header-inner {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-lg);
}

/* Define modal form CSS */
.form {
    margin-right: var(--space-lg);
}

.form form {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
}



/* Define dashboard grid spaces */
.dashboard {
    display: grid;
    flex: 1;
    min-height: 0;
    gap: var(--space-xl);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "applicationList applicationList summary"
        "applicationList applicationList companyList"
        "resolvedList inProgressList companyList";
    margin: var(--space-lg) var(--space-lg);
}

.application-list { grid-area: applicationList;}
.summary { grid-area: summary; }
.resolved { grid-area: resolvedList; }
.inProgress { grid-area: inProgressList; }
.company-list { grid-area: companyList; }



/* Define card display layout */
.card {
    display: flex;
    flex-direction: column;
    border: var(--space-xs) solid var(--color-tertiary);
}



/* Hidden states  */
.hidden {
    display: none;
}

